{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h2 class="title">{{ 'profile.edit_email'|trans }}</h2>
        {{ form_start(form) }}
        <div class="row">
            <div class="form-group col-12">
                {{ form_label(form.email, 'profile.label.email') }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control-lg'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <button type="submit"
                        class="btn btn-light-pink btn-lg col-12">{{ 'profile.email.button.submit'|trans }}</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
