{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h2 class="title">{{ 'profile.edit_password'|trans }}</h2>
        {{ form_start(form) }}
        <div class="form-group col-12">
            {{ form_label(form.currentPassword, 'profile.label.current_password') }}
            {{ form_widget(form.currentPassword) }}
        </div>

        <div class="form-group col-12">
            {{ form_label(form.newPassword.first, 'profile.label.first_password') }}
            {{ form_widget(form.newPassword.first) }}
        </div>

        <div class="form-group col-12">
            {{ form_label(form.newPassword.second, 'profile.label.second_password') }}
            {{ form_widget(form.newPassword.second) }}
        </div>

        <div class="form-group btn-container col-12">
            <button type="submit"
                    class="btn btn-fit btn-submit col-12 active">{{ 'profile.password.button.submit'|trans }}</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

