{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h3>{{ 'profile.edit_password'|trans }}</h3>
        {{ form_start(form) }}
        <div class="row">
            <div class="form-group col-12">
                {{ form_label(form.currentPassword, 'profile.label.current_password') }}
                {{ form_widget(form.currentPassword, {'attr': {'class': 'form-control-xs'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                {{ form_label(form.newPassword.first, 'profile.label.first_password') }}
                {{ form_widget(form.newPassword.first, {'attr': {'class': 'form-control-xs'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                {{ form_label(form.newPassword.second, 'profile.label.second_password') }}
                {{ form_widget(form.newPassword.second, {'attr': {'class': 'form-control-xs'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <button type="submit"
                        class="btn btn-orange text-white btn-xs col-12">{{ 'profile.password.button.submit'|trans }}</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
