{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/user/profile.css') }}">
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h3>{{ 'profile.title'|trans }}</h3>
        <div id="profile-image">
            {% if app.user.personalImage is not null and app.user.personalImage is not empty %}
                <img src="{{ asset('uploads/personal_images/' ~ app.user.personalImage) }}" width="84" height="84"
                     alt="Votre image de profil"/>
            {% else %}
                <img src="{{ asset('build/images/img-profile.png') }}" width="84" height="84"
                     alt="Votre image de profil temporaire"/>
            {% endif %}
        </div>

        <div class="edit-links text-center">
            <a class="btn btn-outline-orange btn-xs" href="{{ path('profile_edit_password') }}">{{ 'profile.button.edit-password'|trans }}</a>
            <a class="btn btn-outline-orange btn-xs" href="{{ path('profile_edit_email') }}">{{ 'profile.button.edit-email'|trans }}</a>
        </div>

        <div class="display-user-infos">
            <p class="profile-user-name">{{ app.user.firstname }} {{ app.user.lastname }}</p>
            <p class="profile-user-email">{{ app.user.email }}</p>
        </div>

        <div class="row col-12">
            <div class="display-address">
                <p><span class="bold">{{ 'profile.index.address'|trans }}</span> {{ app.user.informationUser.address }}
                </p>
                <p>
                    <span class="bold">{{ 'profile.index.zip_code'|trans }}</span> {{ app.user.informationUser.city.zipCode }}
                </p>
                <p><span class="bold">{{ 'profile.index.city'|trans }}</span> {{ app.user.informationUser.city.name }}
                </p>
                <p><span class="bold">{{ 'profile.index.phone'|trans }}</span>
                    <meta name="format-detection" content="telephone=no"> {{ app.user.informationUser.phone }}</p>
            </div>
        </div>

        <hr>
        <div class="button">
            <button class="btn-circle" type="submit">
                <a href="{{ path('profile_edit_description') }}">
                    <span class="mdi mdi-pencil mdi-24px"></span>
                </a>
            </button>
        </div>
        <div class="row col-12">
            <p>{{ app.user.informationUser.description | raw }}</p>
        </div>
    </div>

    <div class="jumbotron">
        <h2>{{ 'nav.communities'|trans({'count': app.user.communities|length}) }}</h2>

        {% if app.user.communities|length > 0 %}
            {% for community in app.user.communities %}
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="col-12">
                            <div class="card-title">{{ community.name }}</div>
                            <div class="card-text row">
                                <div class="col-10">
                                    <p class="community-city">{{ community.city.name }} </p>
                                    <p class="community-members">{{ 'community.show.num_of_members'|trans({'count': community.members|length}) }}</p>
                                </div>
                                <div class="col-1 align-middle">
                                    <a class="mdi mdi-chevron-right mdi-48px text-dark-pink"
                                       href="{{ path('community_show', {'slug': community.slug}) }}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>You are not a member of any community click below to create or join a community.</p>
        {% endif %}
        <div class="row">
            <div class="form-group col-12">
                <a href="{{ path('community_list') }}" class="btn btn-orange btn-xs col-12 text-white">{{ "profile.btn.community.join"|trans }}</a>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <a href="{{ path('community_new') }}" class="btn btn-orange btn-xs col-12 text-white">{{ "profile.btn.community.create"|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('user/profile') }}
{% endblock %}
