{% extends "base.html.twig" %}

{% block body %}
    <div class="jumbotron">
        <h3>Nouvelle communauté</h3>
        {{ form_start(form) }}
        <div class="row">
            <div class="form-group col-12">
                {{ form_widget(form.name) }}
                {{ form_label(form.name, 'community.label.name') }}
            </div>
        </div>

        <div class="row">
            <div class="form-group col-12">
                {{ form_widget(form.description) }}
                {{ form_label(form.description, 'community.label.description') }}
            </div>
        </div>

        <div class="row">
            <div class="form-group col-12">
                <select class="js-data-cities form-control" name="_city" id="city"></select>
                <label for="city" class="active">Ville</label>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-12">
                <button type="submit" class="btn btn-light-pink col-12">Create community</button>
            </div>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('search/city') }}
{% endblock %}
