<div class="block-nav">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="container-profil">
            <a href="{{ path('profile_main') }}">
                <div id="img-profil">
                    {% if app.user.personalImage is not null and app.user.personalImage is not empty %}
                    <img src="{{ asset('uploads/personal_images/' ~ app.user.personalImage)}}" width="84" height="84"
                         alt="Votre image de profil"/>
                    {% else %}
                    <img src="{{ asset('build/images/img-profile.png')}}" width="84" height="84"
                         alt="Votre image de profil temporaire"/>
                    {% endif %}
                </div>
                <div id="display-name">
                    <div class="user">{{ app.user.firstname }}</div>
                    <div class="user userlast">{{ app.user.lastname }}</div>
                    <a href="{{ path('profile_main') }}" class="underline-mb">{{ 'nav.my_profile'|trans }}</a>
                </div>
            </a>
        </div>
        <ul class="block-nav-ul">
            <li>
                <a href="">{{ 'nav.new_ad'|trans }}</a>
            </li>
            <li>{{ 'nav.manage_ads'|trans }}</li>
            <li>{{ 'nav.favorite_ads'|trans }}</li>
            <li>{{ 'nav.communities'|trans({'count': app.user.communities|length}) }}</li>
            <li>{{ 'nav.favorite_ads'|trans }}</li>
            <li>{{ 'nav.settings'|trans }}</li>
            <li>
                <a href="{{ path('logout') }}">{{ 'nav.logout'|trans }}</a>
            </li>
        </ul>
    {% else %}
        <ul class="block-nav-ul">
            <li class="log">
                <a href="{{ path('login') }}">{{ 'nav.sign_in'|trans }}</a>
            </li>
            <li class="log">
                <a href="{{ path('registration') }}">{{ 'nav.sign_up'|trans }}</a>
            </li>
        </ul>
    {% endif %}
</div>

<script type="text/javascript">
  const buttonBurger = document.getElementById('burger-icon')
  buttonBurger.onclick = active

  function active () {
    const burgerContainer = document.getElementById('burger-nav')
    const element = document.querySelector('#burger-nav')
    if (element.classList.contains('active')) {
      burgerContainer.classList.remove('active')
      burgerContainer.classList.add('inactive')
    } else {
      burgerContainer.classList.remove('inactive')
      burgerContainer.classList.add('active')
    }
  }
</script>
