<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale = 1.0, minimum-scale = 1.0, maximum-scale=1.0,user-scalable = no">
    <title>{% block title %}{% endblock %} {{ site_name }}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% endblock %}
</head>
<body>
<header>
    <div class="content-header">
        <a href="{{ path('homepage') }}">
            <div class="header-image"></div>
        </a>
    </div>
</header>
<div class="container">

    <noscript>
        <div class="alert alert-danger" role="alert">
            You need to enable JavaScript to run this app.
        </div>
    </noscript>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                {{ message }}

                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endfor %}

    {% include "_navbar.html.twig" %}

    {% block body %}{% endblock %}
</div>

<div class="overlay"></div>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
