{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <em>{{ ads|length }} annonces</em>

        {% for ad in ads %}
            <a title="{{ ad.title }}" rel="nofollow" href="{{ path('ad_show', {'slug': ad.slug}) }}">
                <div class="card" style="margin-bottom: 0.5rem;">
                    <div class="card-body">
                        <div class="card-title bold">
                            {% if not ad.enabled %}
                                <span class="badge badge-danger">Desactivée</span>
                            {% endif %}
                            {% if ad.transactionDate is not null %}
                                <span class="badge badge-success">Terminée</span>
                            {% endif %}
                            {{ ad.title }}
                        </div>
                        <div class="card-text text-dark-pink">{{ ad.uev }} UEV</div>
                        <div class="card-text">{{ ad.category.label }}</div>
                        <div class="card-text"><a href="{{ path('community_show', { 'slug': ad.community.slug}) }}">{{ ad.community.name }}</a></div>

                        {% if ad.createdAt|date("d/m/Y") == "now"|date("d/m/Y") %}
                            <div class="card-text small">Aujourd'hui, {{ ad.createdAt|date("H:m") }}</div>
                        {% else %}
                            <div class="card-text small">Le {{ ad.createdAt|localizeddate('long', 'short', null, 'UTC') }}
                                par {{ ad.user.firstname }} {{ ad.user.lastname }}</div>
                        {% endif %}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}

