{% extends "base.html.twig" %}

{% block body %}
    <div class="jumbotron">
        <h3>{{ 'security.login.title'|trans }}</h3>
        {% if error %}
            <div id="error" class="alert alert-danger">{{ error.message }}</div>
        {% endif %}

        <form action="{{ path('login_check') }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
            <div class="row">
                <div class="col-12 form-group">
                    <label for="username">{{ 'security.login.email'|trans }}</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}"
                           class="form-control form-control-lg"
                           required="required" autocomplete="username"/>
                </div>
            </div>
            <div class="row">
                <div class="col-12 form-group">
                    <label for="password">{{ 'security.login.password'|trans }}</label>
                    <input type="password" id="password" name="_password" class="form-control form-control-lg"
                           required="required"
                           autocomplete="off"/>
                </div>
            </div>
            <div class="row">
                <div class="col-12 form-group">
                    <button type="submit" class="btn btn-light-pink btn-lg col-12" name="_submit">
                        {{ 'security.login.sign_in'|trans }}
                    </button>
                </div>
            </div>
        </form>

        <p>Pas encore inscrit ?</p>

        <p class="small">Rejoignez-nous vite en cliquant <a href="{{ path('registration') }}">ici</a> et créez votre espace personnel </p>
    </div>
{% endblock %}
